/* NOTION CSS OVERRIDE */
:root {
  --waline-theme-color: #986794;
  --waline-active-color: #7a5276;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tw-text-opacity: 1;
    --waline-light-grey: #666;
    --waline-dark-grey: #999;
    --waline-color: #fff;
    --waline-bgcolor: #1e1e1e;
    --waline-bgcolor-light: #272727;
    --waline-border-color: #333;
    --waline-disable-bgcolor: #444;
    --waline-disable-color: #272727;
    --waline-bq-color: #272727;
    --waline-info-bgcolor: #272727;
    --waline-info-color: rgba(209, 213, 219, var(--tw-text-opacity));
  }
}

.font-sans {
  font-family: 'Roboto', sans-serif;
}

.my-header {
  font-family: 'VT323', monospace;
  font-size: 26px;
}

.my-header span {
  padding-left: 7px;
}

.notion {
  @apply text-gray-600 dark:text-gray-300;
  overflow-wrap: break-word;
}

.notion,
.notion-text,
.notion-quote,
.notion-h-title {
  @apply leading-8;
  @apply p-0;
  @apply my-3;
}

.notion-page-link {
  color: inherit;
}

svg.notion-page-icon {
  @apply hidden;
}

svg + .notion-page-title-text {
  @apply border-b-0;
}

.notion-bookmark {
  @apply border;
  @apply border-gray-100;
  color: inherit;
}

.notion-bookmark .notion-bookmark-title,
.notion-bookmark .notion-bookmark-link div {
  @apply text-gray-900 dark:text-gray-200;
}

.notion-bookmark .notion-bookmark-description {
  @apply text-gray-600 dark:text-gray-300;
}

.notion-code > code {
  @apply text-gray-900;
}

pre[class*='language-'] {
  line-height: inherit;
}

.notion-bookmark:hover {
  @apply border-blue-400;
}

.notion-viewport {
  z-index: -10;
}

.notion-asset-caption {
  @apply text-center;
  @apply text-gray-500 dark:text-gray-400;
}

.notion-full-width {
  @apply px-0;
}

.notion-page {
  @apply w-auto;
  @apply px-0;
}

.notion-quote {
  padding: 0.2em 0.9em;
}

.notion-collection {
  @apply max-w-full;
}

.notion-collection > .notion-collection-header {
  @apply px-0 !important;
}

.notion-collection > .notion-table {
  @apply max-w-full !important;
}

.notion-collection > .notion-table > .notion-table-view {
  @apply px-0 !important;
}

.notion-collection-view-type {
  @apply hidden;
}

.notion-collection-row {
  @apply hidden;
}

/*Comments*/

.wl-count {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity))
}

@media (prefers-color-scheme: dark) {
  .wl-count {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }
}
